@import url('https://fonts.googleapis.com/css?family=Roboto|Source+Sans+Pro|Source+Serif+Pro|Montserrat|Ubuntu|&display=swap');

/* STYLE TILE PALETTE https://mycolor.space/?hex=%23A79C8E&sub=1 / FONT: https://fontpair.co/fonts/source-sans-pro */

body {
    background-color: #DFE0DF;
}

h1 {
    font-family: 'Montserrat Extra Bold', sans-serif;
    font-size: 32px;
    margin-top: 0;
}

h2 {
    font-family: 'Source Sans Pro Bold', sans-serif;
    font-size: 22px;
    margin-top: 0;
}

h3 {
    font-family: 'Roboto Medium', sans-serif;
    margin-top: 0;
}

h4 {
    font-family: 'Ubuntu Regular', sans-serif;
    margin-top: 0;
}

p,li {
    font-family: 'Source Sans Pro', serif;
    font-weight: 100;
    margin-top: 0;
    list-style: none;
}

ol {
    margin: auto;
    margin-left: -40px;
}

p b {
    font-weight: bold;
}

.mainLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

.logoBackground {
    background-color: rgb(200, 200, 200);
}

/* ===========================================

Navigation

=========================================== */

.navMenu, .search-container {
    font-family: 'Roboto Medium', sans-serif;
}

a.active {
    font-weight: 900;
}
.headerBox {
    overflow: hidden;
    background-color: #2F4858;
    font-family: 'Oxygen', sans-serif;
}

.headerBox a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.headerBox a:hover {
    background-color: #4B8178;
    color: #fff;
}

.headerBox a.active {
    background-color: #005B4B;
    color: #fff;
}

.headerBox .search-container {
    float: right;
}

.headerBox input[type=text] {
    padding: 8px;
    padding-left: 10px;
    font-size: 15px;
    border: none;
    border-radius: 10px;
}

.headerBox .search-container button {
    padding: 6px 10px;
    margin-right: 8px;
    background: #FFEDCB;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

@media only screen and (min-width: 600px) {
    .headerBox .search-container button {
        margin-top: 8px;
    }
}

.headerBox .search-container button:hover {
    background: #ccc;
}

/* ===========================================
=========================================== */


/* ===========================================

Home Screen

=========================================== */

.recipeGrid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 1em;
}

.individualRecipe {
    padding: 1.5rem;
    text-decoration: none;
}

.recipeHyperlink {
    text-decoration: none;
    color: #000;
}

.recipeHyperlink:hover {
    transition: 0.3s;
    color: #FFFFF3;
    background-color: #73695C;
}

.gridTitle {
    font-size: 18px;
    padding-top: 1em;
}

.gridTitle, .gridSide {
    width: 230px;
}

/* ===========================================

Result Page CSS 

=========================================== */

.recipeGridResult {
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    padding-bottom: 1em;
}

.resultImage, .resultImageIngredients {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
}

.resultTitle {
    text-align: center;
    margin-top: 0;
}

.resultSide {
    text-align: center;
}

.resultImage, .resultImageIngredients {
    padding: 1em 0 1em 0;
}

.stepsImagesGrid {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.stepsImages {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 40%;
}

/* ===========================================

Media Queries 

=========================================== */

/* Smartphones (portrait) ----------- */
@media only screen and (min-width : 320px) {
    .mainLogo {
        width: 40%;
    }
}

@media screen and (min-width: 1000px) {
    .mainLogo {
        width: 40%;
    }

    .miscInfo {
        /* display: flex; */
        /* justify-content: space-between; */
        padding: 1em 0 2em 0;
    }
}    

/* Desktops and laptops ----------- */
@media screen and (min-width: 1224px) {
    .recipeGrid {
        margin: auto 2em;
    }

    .mainLogo {
        width: 30%;
    }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
    .recipeGrid {
        margin: auto 22em;
    }
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
    .recipeGridResult {
        margin: auto 2em;
        padding-bottom: 3em;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1224px) {
    .recipeGridResult {
        margin: auto 10em;
    }
}

@media screen and (min-width: 1224px) and (max-width: 1424px) {
    .recipeGridResult {
        margin: auto 15em;
    }
}

@media screen and (min-width: 1424px) and (max-width: 1824px) {
    .recipeGridResult {
        margin: auto 20em;
    }
    
    .resultImage, .resultImageIngredients {
        width: 75%;
    }
}

@media screen and (min-width: 1824px) and (max-width: 4096px) {
    .recipeGridResult {
        margin: auto 30em;
        text-align: center;
    }

    .resultImage, .resultImageIngredients {
        width: 60%;
    }
}

@media screen and (min-width: 4096px) and (max-width: 5120px) {
    .recipeGridResult {
        margin: auto 75em;
        text-align: center;
    }

    .resultImage, .resultImageIngredients {
        width: 75%;
    }
}

@media screen and (max-width: 600px) {
    .headerBox .search-container {
        float: none;
    }
    
    .headerBox a, .headerBox input[type=text], .headerBox {
        float: none;
        text-align: left;
    }

    .search-container button {
        float: right;
        z-index: 99;
    }

    .headerBox input[type=text] {
        border: 1px solid #fff;  
        width: 77%;
        z-index: 1;
    }

    .headerBox input[type=text], .headerBox .search-container button {
        border-radius: 0;
        padding: 14px;
        margin: auto;
    }
}   

/* ===========================================
=========================================== */


/* ===========================================

Help Modal

=========================================== */

#myBtn {
    font-family: 'Roboto', sans-serif;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 1;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #005B4B;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: #4B8178;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* Modal Content */
.modalContent {
    z-index: 99;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #fefefe;
    width: 75%;
    height: auto;
    margin-left: 45em;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

.modalTitle {
    margin-top: 7px;
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 50px;
    font-weight: bold;
    margin-top: -13px;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modalHeader {
    font-family: 'Calligraphr', sans-serif;
    font-size: 24px;
    padding: 8px 16px 1px 16px;
    background-color: #73695C;
    color: white;
}

.modalBody {
    font-family: 'Calligraphr', sans-serif;
    font-size: 24px;
    padding: 16px 32px 16px 16px;
}